$header-background-color: #ffffff00;

.main-header-container {
    display: flex;
}

.logo {
    width: 4rem;
    height: 4rem;

    @media (max-width: 600px) {
        width: 3rem;
        height: 3rem;
    }
}

.sticky {
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: $header-background-color;
}

.flag {
    width: 5rem;
    height: 1.75rem;
}

.lang-select {
    width: 5rem;
    height: 5rem;
}

.lang-select-trigger {
    background-color: white;
}

:host {
    ::ng-deep .mdc-text-field { 
        background-color: $header-background-color 
        // border: solid 2px;
        // padding: 0px;
    }
}

::ng-deep .mat-pseudo-checkbox {
    width: 0px;
    height: 0px;
    display: none !important;
}

::ng-deep .mat-mdc-select-arrow-wrapper {
    width: 0px;
    height: 0px;
    display: none !important;
}

::ng-deep .mdc-line-ripple {
    display: none !important;
}

.nav-button {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;

    @media (max-width: 720px) {
        font-size: 1rem;
    }

    @media (max-width: 600px) {
        font-size: 0.75rem;
    }
}

.lang-selector-div {
    display: flex;
}

#check {
    display: none;
}
.checkBtn {
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: none;
}
.nav-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 560px) {
    .checkBtn {
        display: block;
    }

    .nav-div {
        position: fixed;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        top: 0;
        left: -100%;
        background-color: rgba(246, 192, 255, 0.25);
        backdrop-filter: blur(4px);
        transition: all .5s;
    }

    #check:checked ~ * .nav-div  {
        left: 0;
    }

    .nav-button {
        margin: 1rem;
    }

    .main-header {
        justify-content: space-between;
    }
    
    .cover-all-screen {
        width: 100%;
        height: 100vh;
        opacity: 0%;
        position: absolute;
    }
}
