<header [@fade]="isHeaderVisible" class="animated fadeInDown sticky" id="navbar"> 
    <!-- <div class="main-header shadow-[0_4px_9px_-4px_#3b71ca] "> -->
    <div class="cover-all-screen"></div>
    <input [checked]="menuChecked" type="checkbox" id="check"/>
    <div class="main-header">
        <img class="logo mr-5 z-20" (click)="this.window.location='#welcome'" [src]="'assets/svg/logo.svg'"/>
        <div class="nav-div">
            <a href="#skills" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full nav-button text-2xl font-bold mr-3 z-20">{{ "Skills" | translate}}</a>
            <a href="#experience" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full nav-button text-2xl font-bold mr-3 z-20">{{ "Experience" | translate}}</a>
            <a href="#achivements" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full nav-button text-2xl font-bold z-20">{{ "Achivements" | translate}}</a>
            <img (click)="switchLang(selectedLanguage === 'ru' ? 'en' : 'ru')" class="flag z-20" [src]="selectedLanguage === 'ru' ? 'assets/svg/ru.svg' : 'assets/svg/gb.svg'"/>    
        </div>
        <label (click)="this.menuChecked = !this.menuChecked" class="checkBtn z-20">
            <fa-icon class="fas" [icon]="faBars"></fa-icon>
        </label>
        <!-- <div class="lang-selector-div">
            <mat-form-field class="lang-select">
                <mat-select 
                    [(value)]="selectedLanguage"
                    (selectionChange)="switchLang(selectedLanguage)">
                    <mat-select-trigger>
                        <img class="flag" [src]="selectedLanguage === 'ru' ? 'assets/svg/ru.svg' : 'assets/svg/gb.svg'"/>
                    </mat-select-trigger>
                    <mat-option hideSingleSelectionIndicator *ngFor="let lang of translate.getLangs()" [value]="lang">
                        <img class="flag" [src]="lang === 'ru' ? 'assets/svg/ru.svg' : 'assets/svg/gb.svg'"/>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
    </div>
</header>


