<div>
    <div class="skills-panel-main ">
        <p id="skills" class="grid-head text-2xl font-bold text-center z-10 p-3">{{ "Skills" | translate}}</p>
        <p id="skills" class="text-2xl font-bold text-center z-10 p-3">{{ "SkillsDescription" | translate}}</p>
        <div class="info-panel container z-10 pb-3 pt-3 ps-0 pe-0">
            <div *ngFor="let array of allSkillsArray; index as i">
                <div [ngStyle]="{gridTemplateColumns: getGridTemplate(array.length)}" class="skills-subgrid">
                    <div *ngFor="let item of array" [ngClass]="getMovingClass(i)">
                        <p class="font-bold text-center icon-text">{{ item.title | translate}}</p>
                        <p class="d-flex justify-content-center">
                            <img class="icon icon-background" [src]="item.icon"/>
                        </p>    
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <!-- <div class="react-skill-main">

    </div> -->
</div>

 <!-- <img [@degree]="this.getDegree()" class="icon icon-background" src="assets/svg/React-icon.svg"/> -->
                       