.skills-panel-main {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #222;

.info-panel {
    background-color: rgb(88, 88, 88);
    border-radius: 25px;
    animation: hiding 20s infinite;
    -webkit-animation: hiding 20s infinite;
}
}

.react-skill-main {
    width: 100vw;
    height: 100vh;
}

.skills-grid {
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.skills-subgrid {
    overflow: hidden;
    display: grid;
    align-items: center;
}

.grid-head {
    background-color: rgb(88, 88, 88);
}

.icon {
    text-align: center;
    width: 30%;
    padding: 15px !important;
    
    @media (max-width: 600px) {
      width: 50%;
      padding: 5px !important;
    }
}

.icon-background {
    border-radius: 25px;
    animation: glowing 5s infinite;
    -webkit-animation: glowing 5s infinite;
}

.icon-moving-left {
    animation: moving-left 60s linear infinite;
    -webkit-animation: moving-left 60s linear infinite;
}

.icon-moving-right {
    animation: moving-right 60s linear infinite;
    -webkit-animation: moving-right 60s linear infinite;
}

.icon-text {
  @media (max-width: 600px) {
    font-size: 0;
    visibility: hidden;
  }
}


@keyframes glowing {
    0% { background-color: #bb63ff; box-shadow: 0 0 3px #bb63ff; }
    50% { background-color: #e590ff; box-shadow: 0 0 10px #e590ff; }
    100% { background-color: #bb63ff; box-shadow: 0 0 3px #bb63ff; }
}

@keyframes hiding {
    0% { background-color: #261335; box-shadow: 0 0 3px #261335; }
    50% { background-color: #26133581; box-shadow: 0 0 10px #26133581; }
    100% { background-color: #261335; box-shadow: 0 0 3px #261335; }
}


@keyframes moving-left {
    0%{
      transform: translate(0, 0);
    }
    100%{
      transform: translate(-600%, 0);
    }
  }

  @keyframes moving-right {
    0%{
      transform: translate(-700%, 0);
    }
    100%{
      transform: translate(0, 0);
    }
  }

@keyframes rotate-btn {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-360deg);
    }
  }