<body>
    <section class="gradient">
    </section>
    <section class="content-panel" (scroll)="onWindowScroll($event);">
        <app-header class="header-class" [isHeaderVisible]="isHeaderVisible"></app-header>
        <div class="content">
            <app-welcome-panel></app-welcome-panel>
            <app-skills-panel [scrollY]="prevScrollY"></app-skills-panel>
            <app-experience-panel></app-experience-panel>
            <app-achivements-panel></app-achivements-panel> 
        </div>
    </section>
</body>