@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 200px;
  --margin-size: calc(var(--size)*(-0.5));
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  background-color: #222222;
  position: fixed;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  overflow-x: hidden;
  top: 50%;
  left: 50%;
  //transform: translate(-50%, -50%);
  margin-top: var(--margin-size); /* Negative half of height. */
  margin-left: var(--margin-size); /* Negative half of width. */
}

@media (min-width: 720px) {
  .gradient {
    --size: 200px;
  }
}

body {
  background-color: #222;
  background-attachment: fixed;
  background-repeat: repeat;
  position: absolute;
  inset: 0;
  //display: flex;
  // place-content: center;
  // align-items: center;
}

.header-class {
  z-index: 30;
  position: absolute;
}

.content {
  overflow-x: hidden;
}

/* This is just to transition when you change the viewport size. */
* {
  transition: all 0.25s ease-out;
}
