.experience-panel-main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #222;
}

.grid-head {
    background-color: rgb(88, 88, 88);
}
